*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aside {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
}

.aside .canvas-menu {
  width: 100%;
  height: 500px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  -webkit-transform: translate(0, -500px);
          transform: translate(0, -500px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside .canvas-menu .menu-header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside .canvas-menu .menu-header .logo-menuBar {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside .canvas-menu .menu-header .logo-menuBar img {
  width: 350px;
}

.aside .canvas-menu .menu-header .search {
  width: 350px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.aside .canvas-menu .menu-header .search input {
  width: 250px;
  height: 25px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 15px;
  font-size: 18px;
  outline: none;
}

.aside .canvas-menu .menu-header .search i {
  position: absolute;
  right: 120px;
  color: green;
}

.aside .canvas-menu .menu-header .search .xmark-m i {
  position: absolute;
  z-index: 5;
  font-size: 30px;
  right: 30px;
  top: 38px;
}

.aside .canvas-menu .menu {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aside .canvas-menu .menu .menu-one ul {
  list-style: none;
}

.aside .canvas-menu .menu .menu-one ul li {
  line-height: 30px;
  font-size: 16px;
}

.aside header {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside header .logo {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside header .all-icon {
  width: 450px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.aside .center-box {
  width: 900px;
  height: 500px;
  margin: auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside .center-box .center-box-one {
  width: 220px;
  height: 500px;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.aside .center-box .center-box-one .top-center {
  width: 80%;
  height: 100px;
  border-bottom: 3px solid #fff;
}

.aside .center-box .center-box-one .bottom-center {
  width: 80%;
  height: 150px;
}

.aside .center-box .center-box-two {
  width: 220px;
  height: 500px;
  border-right: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.aside .center-box .center-box-two .top-center {
  width: 80%;
  height: 100px;
  border-bottom: 3px solid #fff;
}

.aside .center-box .center-box-two .bottom-center {
  width: 80%;
  height: 150px;
}

.aside .center-box .center-box-three {
  width: 220px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 3px solid #fff;
  color: #fff;
}

.aside .center-box .center-box-three .top-center {
  width: 80%;
  height: 100px;
  border-bottom: 3px solid #fff;
}

.aside .center-box .center-box-three .bottom-center {
  width: 80%;
  height: 150px;
}

.aside .center-box .center-box-four {
  width: 220px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.aside .center-box .center-box-four .top-center {
  width: 80%;
  height: 100px;
  border-bottom: 3px solid #fff;
}

.aside .center-box .center-box-four .bottom-center {
  width: 80%;
  height: 150px;
}

section {
  margin-top: 50px;
  overflow-x: hidden;
}

section .swiper {
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F9F9F9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

section .swiper .swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

section .swiper .swiper-slide .card {
  width: 200px;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .swiper .swiper-slide .card img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

section .swiper .swiper-slide .card h2 {
  color: #147D70;
}

section .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-two {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-two .all-news {
  width: 70%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two .all-news .left-news {
  width: 49%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two .all-news .left-news .top-news {
  width: 100%;
  height: 80%;
  background-image: url("../img/xse.png");
  background-size: cover;
  background-position: center;
}

.section-two .all-news .left-news .bottom-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: green;
}

.section-two .all-news .right-news {
  width: 49%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two .all-news .right-news .box-one {
  width: 100%;
  height: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two .all-news .right-news .box-one .left-img-one {
  width: 30%;
  height: 100%;
  background-image: url("../img/tarla.png");
  background-position: center;
  background-size: cover;
}

.section-two .all-news .right-news .box-one .right-text {
  width: 67%;
}

.section-two .all-news .right-news .box-one {
  width: 100%;
  height: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two .all-news .right-news .box-one .left-img-two {
  width: 30%;
  height: 100%;
  background-image: url("../img/ghghgh.png");
  background-position: center;
  background-size: cover;
}

.section-two .all-news .right-news .box-one .right-text {
  width: 67%;
}

.section-two .all-news .right-news .box-one {
  width: 100%;
  height: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two .all-news .right-news .box-one .left-img-three {
  width: 30%;
  height: 100%;
  background-image: url("../img/4b9iku.png");
  background-position: center;
  background-size: cover;
}

.section-two .all-news .right-news .box-one .right-text {
  width: 67%;
}

.section-three {
  width: 100%;
  height: 750px;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-three div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-three div .left {
  width: 50%;
}

.section-three div .left .mapdiv path {
  fill: #ffffff;
  stroke: #147d70;
  stroke-width: 2px;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.section-three div .left .mapdiv path:hover {
  fill: #147D70;
}

.section-three div .left .mapdiv {
  width: 100%;
}

.section-three div .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-three div .right .card {
  width: 300px;
  height: 200px;
  border: 2px solid #147d70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.section-three div .right .card span {
  font-size: 20px;
  font-weight: bold;
}

.section-four {
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-four .row {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-four .row .col-left {
  width: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-four .row .col-left h1 {
  margin-bottom: 30px;
  text-align: left;
  color: #147D70;
  font-size: 30px;
}

.section-four .row .col-left .contain-form {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-four .row .col-left .contain-form form {
  padding: 60px 30px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-four .row .col-left .contain-form form label {
  font-size: 20px;
  color: #000;
  opacity: .4;
}

.section-four .row .col-left .contain-form form input {
  padding: 15px 0 10px 0;
  border: 2px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  margin-bottom: 30px;
  color: black;
  opacity: .4;
}

.section-four .row .col-left .contain-form form button {
  background-color: #147d70;
  border: none;
  color: #Fff;
  width: 50%;
  padding: 20px 0;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 2px;
}

.section-four .row .col-right {
  width: 50%;
  height: 600px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-four .row .col-right .rectangle {
  width: 100%;
  height: 500px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #147D70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-left img {
  width: 280px;
}

footer .footer-left p {
  color: #fff;
  font-size: 18px;
}

footer .footer-right {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */